@import url('https://fonts.googleapis.com/css?family=Karla');

.content {
  width: 90%;
  max-width: 680px;
  margin: 0 auto;
}

.link {
  font-family: "Amatic SC", sans-serif;
  display: block;
  background-color: #3d3b3c00;
  color: rgba(255, 255, 255, 0.692);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 0 10px 0;
  margin: 12px 0 11px 0;
  border: 2px solid #ffffff4c;
  text-decoration: none;
}

.link i {
  margin-left: 10px;
}



.link:hover {
  color: #ffffff;
  border: 2px solid #ffffff19;
}

.popup-link {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-link-content {
  width: 75%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation-name: fadeIn;
  animation-duration: 0.3s;
}

.popup-link-title {
  font-family: "Amatic SC", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  animation-name: fadeInUp;
  animation-duration: 0.3s;
}

.popup-link-text {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
  animation-name: fadeIn;
  animation-duration: 0.3s;
}

.popup-link-close-btn {
  background-color: #e67d93;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-link-close-btn:hover {
  background-color: #fda184;
}

/*props container card*/ 

.popup-link-cards {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-link-content-cards {
  height: 90%;
  width: 85%;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation-name: fadeIn;
  animation-duration: 0.3s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

