#Cards{
    background: linear-gradient(to bottom, #ffa384, #d6659e);
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px 15px 30px 15px;
    overflow-y: auto;
    height: 100%;
    }




.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(150, 142, 142, 0.776) !important;
  transition: all 0.7s linear;
}

.card-body {
  margin: auto;
  width: 90%;
  display: grid;
  padding: 2rem 0 !important;
  
}

.card-title{
  font-family: "Amatic SC", sans-serif;
  margin: auto;
  font-size: 2.5rem;
  font-weight: bold;
  color:rgb(0, 0, 0)

  
}

.card-info i{
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 27px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size: 17px;
  border-radius: 50%;
  
}


.card-info  {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.716);
  font-weight: 700;
  text-align: center;
}



.card-text {
  color: rgb(75, 75, 75);
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  background-color: white;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.15);
}

.section-card{
  background-color: black;
}

#contenedor{
  background-color: rgba(255, 255, 255, 0.697) !important;
}



.card-center{
  margin: auto;
  max-width: 900px;
  text-align: center;
}


.catalog-title{
  font-family: "Amatic SC", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  color: #808080;
}

/* #Cards{
    display: flex;
    justify-content: center;
} */


.slide-foot { 
  margin: auto;
  padding: 0px;
  max-width: 450px;
  color: rgba(0, 0, 0, 0.624);
  font-weight: 700;
  font-size: 12px;
  display:inline-block;
}

.slide-foot li {
  border-bottom: none;
  text-align: left;
  list-style:none;
  width: 100%;
  float: none;
  padding: 0;
  margin: 0 0 5px 0;
}

.slide-foot a{
  
  text-decoration: none;
  color: inherit;

} 

.slide-foot span{
  font-family: "Amatic SC", sans-serif;
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.slide-foot i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 22px;
  height: 22px;
  line-height: 23px;
  text-align: center;
  font-size: 13px;
  color: #00000094;
  border-radius: 50%;
}

.fa-plus{
  background-color: #00000029
}

.fa.fa-smile-o {
  background-color: #00000029
}

#consultas{
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: rgb(180, 180, 180);
}
  