
.image{
    border: 1px solid #808080;  
}

.info1{
    text-align: left;
    width: 53%;
    float: right;
    padding: 10px 0;
}

.overlay {
    background: rgba(0, 0, 0, 0.819);
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.overlay.active {

    visibility: visible;
    
}

.popup img {
    float: left;
    width: 100%;
    max-width: 400px;
}

.popup {
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 1000px;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 1;
}

.popup .btn-cerrar-popup {
    font-size: 20px;
    line-height: 15px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #000000;
    margin-bottom: 10px;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup p {
    text-align: left;
    color: rgb(0, 0, 0);
    opacity: 0;
}

.popup h3 {
    margin: 10px 0;
    font-size: 36px;
    font-weight: 600;
    opacity: 0;
    
}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
}

.info1 i{
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 17px;
    border-radius: 50%;
    background: #0bafe0;
    color: rgb(255, 255, 255)
}

.info1 div{
    margin-top: 20px;
    padding: 0px;
}

.info1 div span{
    font-weight: 700;
    color: #000;
}

.promotion{
    line-height: 10px;
}

.promotion h3{
    font-size: 18px;
  }

.consultas{
    color: rgba(200, 31, 31, 0.79);
}

.responsive-button{
    margin-top: 5px;
    font-weight: 700;
    color: rgb(93, 93, 93);
    text-align: center;
    opacity: 0; 
}



@media only screen and (min-width:320px) and (max-width:768px){
    .info1{
    width: 100%;     
  }

  .popup{
    width: 100%;
  }

  .popup h3 {
    text-align: center; 
    font-size: 23px;
    line-height: 25px;
    
}

.popup span {
    font-family: 'Montserrat';
    color: #424242;
    line-height: 5px;
}

.promotion h3{
    font-size: 18px;
    text-align: left;
  }

  .popup .btn-cerrar-popup{
    display: none ;
  }

  .responsive-button{
    opacity: 1;
}
  
  }


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(.85); opacity: 1; }
.popup.active p { animation: entradaTexto .8s ease .5s forwards; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaTexto {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from { opacity: 0; }
    to { opacity: 1; }
}
