@font-face {
  font-family: Gotham;
  src: url("../public/Gotham\ Book\ Font.otf");
}


.App {
  font-family: Gotham;
  height: 80vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

ul {
  padding-left: 0rem !important
}
