@import url('https://fonts.googleapis.com/css?family=Karla');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 90vh;
  font-family: sans-serif;
  font-size: 62.5%;
}

body {
  font-family: 'Gotham', Helvetica, sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(to right, #5322EF, #0000FF, #FF7BAC);
  color: #fff;
}
